<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>contact</title>
</head>
<body>
  <form action="" method="post">
      <div class="contact-champs ">
          <label for="">Nom</label>
          <input type="text" id="nom" name="nom" placeholder="Nom" value="Kulathelagapillaiiiii" required>
         
      </div>

      <div class="contact-champs ">
              <label for="">Prénomom</label>
              <input type="text" id="prenom" name="prenom" placeholder="Prenom" value="Jega" required>
          </div>

          <button type="submit">Send</button>
  </form>
  
</body>







</html>